@model IEnumerable<IGrouping<string, BoVoyage4.Models.Voyage>>


@{
    Layout = null;
}
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border-style:double">
            <h6 style="background-color:lavender">Choix</h6>
            <p>@item.Key</p>
            <h6 style="background-color:lavender">Date de départ</h6>
            <p>@item.ToList()[0].DateAller</p>
            <h6 style="background-color:lavender">Tarif</h6>
            <p>@item.ToList()[0].TarifToutCompris €</p>
        </div>
    }
</div>


