@model IEnumerable<BoVoyage4.Models.Voyage>
@{
    Layout = null;
}
<div class="row">
   
        @foreach (var item in Model)
        {
    <div class="col-md-4" style="border-style:double">
        <h6 style="background-color:lavender">Date de départ </h6>

        <p>@Html.DisplayFor(model => item.DateAller) </p>
        <h6 style="background-color:lavender">Destination  </h6>
        <p>@Html.DisplayFor(model => item.Destination.Pays)</p>
        <h6 style="background-color:lavender">Tarif  </h6>
        <p>@Html.DisplayFor(model => item.TarifToutCompris) €</p>
    </div>
            }
    
        </div>

