@model IEnumerable<IGrouping<string, BoVoyage4.Models.Voyage>>


@{
    Layout = null;
}
<div class="row">
    <div class="col-md-3">
        @foreach (var item in Model)
        {

            <p>@item.Key</p>
            <p>@item.ToList()[0].DateAller</p>
            <p>@item.ToList()[0].TarifToutCompris</p>

        }
    </div>
</div>
