@model BoVoyage4.Models.AgenceVoyage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<h2>Supprimer agence de voyage</h2>


<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" onclick="return confirm('Confirmer ?');" class="btn btn-primary" />            
        </div>
    }
</div>
<br />
<div>
    <a href="@Url.Action("Index")" class="btn btn-outline-info btn-sm">Revenir à la liste des agences de voyage</a>
</div>
<br />