
@{
    ViewBag.Title = "About";
}

<h1>A propos</h1>



<div class="raw" >
    <div class="col-md-6" style="background-color:antiquewhite">
        <h2> Bovogage, le voyagiste préféré des français</h2>
        Selon une étude menée au mois de juillet par le site d’informations en ligne The Huffington Post (média américain décliné en France en association avec le journal Le Monde) Bovoyage est le voyagiste préféré des Français,
        toutes catégories confondues (acteurs traditionnels et internet), classé en tête d’un top 10 devant deux agences en ligne, booking.com et voyages-sncf.com. Désignée comme « Idéale ou proche de l’idéale »
        par 36 % des personnes interrogées, la formule du voyage sur mesure personnalisé par nos 120 conseillers spécialistes,
        semble donc séduire les Français confrontés à une offre de voyages de plus en plus large.
    </div>
    <div class=" col-md-6" style="background-color:antiquewhite"     >
        <h2> Bovogage, son histoire</h2>


        Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus, et adhibitis paucis clam ferro succinctis vesperi per tabernas palabatur et conpita quaeritando Graeco sermone, cuius erat inpendio gnarus, quid de Caesare quisque sentiret. et haec confidenter agebat in urbe ubi pernoctantium luminum claritudo dierum solet imitari fulgorem. postremo agnitus saepe iamque, si prodisset, conspicuum se fore contemplans, non nisi luce palam egrediens ad agenda quae putabat seria cernebatur. et haec quidem medullitus multis gementibus agebantur.

        Itaque verae amicitiae difficillime reperiuntur in iis qui in honoribus reque publica versantur; ubi enim istum invenias qui honorem amici anteponat suo? Quid? Haec ut omittam, quam graves, quam difficiles plerisque videntur calamitatum societates! Ad quas non est facile inventu qui descendant. Quamquam Ennius recte.

        Haec igitur lex in amicitia sanciatur, ut neque rogemus res turpes nec faciamus rogati. Turpis enim excusatio est et minime accipienda cum in ceteris peccatis, tum si quis contra rem publicam se amici causa fecisse fateatur. Etenim eo loco, Fanni et Scaevola, locati sumus ut nos longe prospicere oporteat futuros casus rei publicae. Deflexit iam aliquantum de spatio curriculoque consuetudo maiorum.

        Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius, cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant. quis enim tam inimicus paene nomini Romano est, qui Ennii Medeam aut Antiopam Pacuvii spernat aut reiciat, quod se isdem Euripidis fabulis delectari dicat, Latinas litteras oderit?

        Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium, ut Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.



    </div>
    </div>
