
@{
    ViewBag.Title = "About";
}

<h1>A propos</h1>



<div class="raw">
    <div class="col-md-6" >
        <h2> Bovogage, le voyagiste préféré des français</h2>
        Selon une étude menée au mois de juillet par le site d’informations en ligne The Huffington Post (média américain décliné en France en association avec le journal Le Monde) Bovoyage est le voyagiste préféré des Français,
        toutes catégories confondues (acteurs traditionnels et internet), classé en tête d’un top 10 devant deux agences en ligne, booking.com et voyages-sncf.com. Désignée comme « Idéale ou proche de l’idéale »
        par 36 % des personnes interrogées, la formule du voyage sur mesure personnalisé par nos 120 conseillers spécialistes,
        semble donc séduire les Français confrontés à une offre de voyages de plus en plus large.
    </div>
    <div class=" col-md-10">
        <h2> Bovogage, son histoire</h2>



    </div>
    </div>
