
@{
    ViewBag.Title = "Help";
}

<h2>
    <strong>
    Conseils aux voyageurs du Ministère des Affaires étrangères – dont alertes de sécurité par destination.
</strong>
</h2>

<div>
    Le Ministère des Affaires Etrangères délivre des conseils aux Français voyageant à l’étranger.
    Pour chaque pays répertorié, son site Internet donne des informations utiles sur la sécurité, les lois, les formalités d'entrée, les catastrophes naturelles, la situation politique, des alertes sanitaires et le niveau de criminalité. 
    Il indique également ce qu'il faut faire en cas de problème sur place.
</div>
<br/>

<div>
    Chez Thomas Cook, la sécurité et le bien-être de nos clients et de nos salariés sont des priorités absolues.
    Cela signifie que si nous sommes informés d'un problème à  destination, nous réagissons immédiatement. Nous prenons en compte les nformations que nous recevons du Ministère des Affaires Etrangères comme étant les plus actuelles et les plus précises.
    Si le changement du conseil aux voyageurs du Ministère des Affaires Etrangères a un impact potentiel sur l'une de nos destinations, nous en informerons nos clients.
</div>
<br/>
<div>
    Si, à tout moment, le Ministère des Affaires Etrangères déconseille de voyager sauf raison impérative dans un pays/région où nous opérons, nous arrêterons immédiatement tous les départs vers cette destination et commencerons à rapatrier nos clients et salariés concernés.
</div>
<br/>
<div>
    Nous préconisons à tous nos clients de lire les dernières informations sur la destination choisie avant leur voyage.
    Vus les derniers incidents dans un certain nombre de pays où nous opérons, vous trouverez ci-dessous les liens directs pour de plus amples informations sur :
</div>
<br/>
<ul>
    <li>
        - Les flash infos de dernières minutes
    </li>
    <li>
        - le maroc
    </li>
    <li>
        - la Tunisie
    </li>
    <li>
        - la Belgique
    </li>
    <li>
        - la Turquie
    </li>
</ul>
<div>
    Nous vous recommandons de vous inscrire sur le portail Ariane. Cela vous permet lorsque vous effectuez un voyage, de vous signaler gratuitement et facilement auprès du ministère des Affaires étrangères.
</div>
