
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue chez BOVOYAGE</h2>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="~/images/carrousselClubVacances.jpg" alt="First slide">   
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>BOVOYAGE: le club vacances pour les familles</h1>
                    <p>100% fun en formule tout inclus / animations extraordinaires</p>
                    <p><a class="btn btn-lg btn-warning" href="#" role="button">voir les offres du club</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="~/images/carrouselCircuit.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>BOVOYAGE: les circuits à découvrir</h1>
                    <p>Découvertes, cultures, destinations, budget, j'ai le choix </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Voir les offres de circuit</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="~/images/carrouselSafari.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>BOVOYAGE: les safaris incroyables</h1>
                    <p>le meilleur des safaris chez Boyage</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">voir les offres de safaris</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/rond1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>les 5 destinations les moins chères</h2>
        <p>découvrez nos meilleurs bon plans!!!!</p>
        <p><a class="btn btn-secondary" href="#" role="button">Consultez ici!!</a></p>
    </div>
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/rond2.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>les 5 prochains départs</h2>
        <p>vous partez demain? choisissez votre destination!!!</p>
        <p><a class="btn btn-secondary" href="#" role="button">Consultez ici!!</a></p>
    </div>
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/rond3.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>les 5 destinations préférées</h2>
        <p>Les destinations préférées!!!</p>
        <p><a class="btn btn-secondary" href="#" role="button">Consultez ici!!</a></p>
    </div>
</div>


