
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BackOffice/Views/Shared/_LayoutBO.cshtml";
}

<link href="~/Content/Dashboard.css" rel="stylesheet" />

<section class="container-fluid about">
    <div class="ban">
        <center> <img src="~/images/rond3.jpg" /></center>
    </div>
</section>

